{% extends 'base.html'%}

{% block extra_css %}
	<link href="/static/css/timeline.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}
{% block content%}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
          <div class="col s12 m12 deep-orange lighten-2">
            <ul class="tabs">
              <li class="tab col s3"><a href="#day1">Day 1</a></li>
              <li class="tab col s3"><a href="#day2">Day 2</a></li>
              <li class="tab col s3"><a href="#day3">Day 3</a></li>
              <li class="tab col s3"><a href="#day4">Day 4</a></li>
              <li class="tab col s3"><a href="#day5">Day 5</a></li>
              <li class="tab col s3"><a href="#day6">Day 6</a></li>     
            </ul>
          </div>
          <div id="day1" class="col s12">
      		{% if day1 %}
				<ul class="timeline">
					{% for event in day1 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}
	      </div>
          <div id="day2" class="col s12">
      		{% if day2 %}
				<ul class="timeline">
					{% for event in day2 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}
          </div>
          <div id="day3" class="col s12">
      		{% if day3 %}
				<ul class="timeline">
					{% for event in day3 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}

          </div>
          <div id="day4" class="col s12">
      		{% if day4 %}
				<ul class="timeline">
					{% for event in day4 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}

          </div>
          <div id="day5" class="col s12">
      		{% if day5 %}
				<ul class="timeline">
					{% for event in day5 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}

          </div>
          <div id="day6" class="col s12">
      		{% if day6 %}
				<ul class="timeline">
					{% for event in day6 %}
						{% include 'timeline.html'%}
					{% endfor %}
		     	</ul>
			{% else %}
				No Events Yet			
			{% endif %}

          </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
	<script>
		$(document).ready(function(){
			//$(".tl-talk").hover(function(){alert("Talk")})
		})
	</script>
{% endblock %}