{% load socialaccount %}

{% for provider in socialaccount.providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} waves-effect waves-light btn" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.id}}</a>

     <a title="{{provider.name}}" class=" socialaccount_provider {{provider.id}} btn-floating btn-large waves-effect waves-light deep-orange lighten-1" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
     	<i class="{% if provider.name == 'FACEBOOK' %} fa fa-facebook{% endif %}"></i>
     </a>
</li>
{% endfor %}

